{{ "{% extends '" ~ bundle ~ "::base.html.twig' %}" }}
{{ "{% form_theme form 'JasnyBootstrapBundle:Form:form_layout.html.twig' %}" }}

{{ "{% block title %}" }}{{ 'Edit %s%'|trans({ '%s%': entity_desc.singular})|capitalize }}{% if stringable %} - {{ '{{ entity }}' }}{% endif %}{{ "{% endblock %}" }}

{{ "{% block javascripts %}" }}
    {{ '{{ base.prevent_unload_js("#' ~ prefix ~ '-form", "' ~ "The changes have not yet been saved. If you navigate away, they will be lost."|trans ~ '", form.dirty|default(false)) }}' }}
{{ "{% endblock %}" }}

{{ "{% block body %}" }}
{% if 'index' not in actions %}
<div class="container tabbable tabs-left">
    {%- include 'views/others/list_tabs.html.twig' %}
     
    <div class="tab-content">
{% else %}
    <div class="container">
{% endif %}
        <div class="page-header">
{% if stringable %}
            <h1>{{ '{{ entity }}' }} <small>{% if 'show' in actions %}{{ 'Edit %s%'|trans({'%s%': entity_desc.singular})|capitalize }}{% else %}{{ entity_desc.singular|capitalize }}{% endif %}</small></h1>
{% else %}
            <h1>{% if 'show' in actions %}{{ 'Edit %s%'|trans({'%s%': entity_desc.singular})|capitalize }}{% else %}{{ entity_desc.singular|capitalize }}{% endif %}</h1>
{% endif %}
        </div>
        
        <section id="{{ prefix }}-details" class="entity-details edit-entity">
            {{ '{% if form.get(\'errors\') %}<div class="alert alert-error">{{ form_errors(form) }}</div>{% endif %}' }}

            <form class="form-horizontal" action="{{ "{{ path('"~ route_name_prefix ~".update', { 'id': entity."~ id ~" }) }}" }}" method="post" {{ "{{ form_enctype(form) }}" }}>
{% if custom_form %}
                {{ "{% include '" ~ bundle ~ ":" ~ entity ~":includes/form.html.twig' %}" }}
{% else %}
                {{ "{{ form_widget(form) }}" }}
{% endif %}
                
                <div class="form-actions">
                    <button class="btn btn-primary" type="submit">{{ 'Save'|trans }}</button>
{% if ('index' in actions) or ('show' in actions) %}
                    <a href="{{ "{{ path('"~ route_name_prefix ~ ('show' in actions ? ".show', { 'id': entity."~ id ~" })" : "')") ~" }}" }}" class="btn cancel">{{ 'Cancel'|trans }}</a>
{% endif %}
{% if ('delete' in actions) and ('show' not in actions) %}
                    <a href="#" class="act act-danger pull-right" data-toggle="modal" data-target="#{{ prefix }}-delete-modal"><i class="iconic-x"></i> {{ 'Delete %s%'|trans({'%s%': entity_desc.singular})|capitalize }}</a>
{% endif %}
                </div>
            </form>
        </section>
{% if 'index' not in actions %}
    </div>
{% endif %}
</div>
{{ "{% endblock %}" }}

{%- if ('delete' in actions) and ('show' not in actions) %}
    {%- include 'views/others/delete_modal.html.twig' %}
{% endif %}