{{ "{% extends '" ~ bundle ~ "::base.html.twig' %}" }}

{{ "{% block title %}"}}{{ entity_desc.plural|title }}{{ "{% endblock %}" }}

{{ "{% block header %}" }}
    <h1>{{ entity_desc.plural|title }}</h1>
{{ "{% endblock %}" }}

{{ "{% block body %}" }}
    <section id="{{ route_name_prefix }}-list" class="entity-list">
        <table id="{{ route_name_prefix }}-records-list" class="bordered-table striped-table condensed-table records-list">
            <thead>
                <tr>
{% for field, metadata in fields %}
                    <th class="{{ metadata.type }}-type">{{ field|replace({'_': ' '})|capitalize }}</th>
{% endfor %}
{% if ('show' not in actions) and ('edit' not in actions) %}
                    <th class="record-actions"></th>
{% endif %}
                </tr>
            </thead>
            <tbody>
            {{ '{% for entity in entities %}' }}
                <tr class="{{ "{{ cycle(['odd', 'even'], loop.index) }}" }}" {% if 'show' in actions %}data-href="{{ "{{ path('"~ route_name_prefix ~"_show', { 'id': entity.id }) }}" }}"{% elseif 'edit' in actions %}data-link="{{ "{{ path('"~ route_name_prefix ~"_edit', { 'id': entity.id }) }}" }}"{% endif %}>
{% for field, metadata in fields %}
                    <td class="{{ metadata.type }}-type">
{%   if metadata.type == 'date' %}
                        {{ '{% if entity.'~ field|replace({'_': ''}) ~' %}{{ entity.'~ field|replace({'_': ''}) ~'|date(\'d-m-Y\') }}{% endif %}' }}
{%   elseif metadata.type == 'datetime' %}
                        {{ '{% if entity.'~ field|replace({'_': ''}) ~' %}{{ entity.'~ field|replace({'_': ''}) ~'|date(\'d-m-Y H:i:s\') }}{% endif %}' }}
{%   elseif metadata.type == 'boolean' %}
                        {{ '{% if entity.'~ field|replace({'_': ''}) ~' %}yes{% else %}no{% endif %}' }}
{%   elseif metadata.type == 'percentage' %}
                        {{ '{% if entity.'~ field|replace({'_': ''}) ~' is not empty %}{{ entity.'~ field|replace({'_': ''}) ~' * 100 }} %{% endif %}' }}
{%   else %}
                        {{ '{{ entity.'~ field|replace({'_': ''}) ~' }}' }}
{%   endif %}
                    </td>
{% endfor %}
{% if ('show' not in actions) and ('edit' not in actions) %}
                    <td class="row-actions nohref">
                        <ul class="inline-actions">
{%   for action in record_actions %}
                            <li>
{%     if 'delete' == action %}
                                <a class="act danger icon delete" href="{{ "{{ path('"~ route_name_prefix ~"_"~ action ~"', { 'id': entity.id }) }}" }}" title="{{ 'Delete %s%'|trans({'%s%': entity_desc.singular})|capitalize }}" data-delete-id="{{ '{{ entity.id }}' }}" data-delete-token="{{ '{{ attribute(tokens, entity.id) }}' }}" {% if stringable %}data-delete-desc="{{ '{{ entity }}' }}"{% endif %}>{% trans %}Delete{% endtrans %}</a>
{%     else %}
                                <a class="act icon {{ action }}" href="{{ "{{ path('"~ route_name_prefix ~"_"~ action ~"', { 'id': entity.id }) }}" }}" title="{{ action ~ ' %s%'|trans({'%s%': entity_desc.singular})|capitalize }}">{{ action ~ ' %s%'|trans({'%s%': entity_desc.singular})|capitalize }}</a>
{%     endif %}        
                            </li>
{%   endfor %}
                        </ul>
                    </td>
{% endif %}
                </tr>
            {{ '{% endfor %}' }}
            </tbody>
        </table>

{% if pagination %}
        <div class="pagination">
            <ul>
                {{ '{% if page == 1 %}' }}<li class="prev disabled"><a href="#">{{ '{% else %}' }}<li class="prev"><a href="{{ "{{ path('"~ route_name_prefix ~"_page', { 'page': page-1 }) }}" }}">{{ '{% endif %}' }}&larr; {{ 'Previous'|trans }}</a></li>
                {{ '{% for i in 1..pagecount %}' }}
                    <li class="{{ '{% if i == page %}' }}active{{ '{% endif %}' }}"><a href="{{ "{{ path('"~ route_name_prefix ~"_page', { 'page': i }) }}" }}">{{ '{{ i }}' }}</a></li>
                {{ '{% endfor %}' }}
                {{ '{% if page == pagecount %}' }}<li class="next disabled"><a href="#">{{ '{% else %}' }}<li class="next"><a href="{{ "{{ path('"~ route_name_prefix ~"_page', { 'page': page+1 }) }}" }}">{{ '{% endif %}' }}{{ 'Next'|trans }} &rarr;</a></li>
            </ul>
        </div>

{% endif %}
{% if 'new' in actions %}
        <div class="table-actions">
            <a href="{{ "{{ path('"~ route_name_prefix ~"_new') }}" }}" class="btn success icon add pull-right">{{ 'Add %s%'|trans({'%s%': entity_desc.singular})|capitalize }}</a>
        </div>

{% endif %}
{% if ('delete' in actions) and ('show' not in actions) and ('edit' not in actions) %}
        {%- set delete_js, delete_js = true, false %}
        {%- include 'views/others/delete_modal.html.twig' %}

        <script type="text/javascript">
            $(function () {
                $('#{{ route_name_prefix }}-records-list a.delete').click(function() {
                    $('#{{ route_name_prefix }}-delete-modal form').attr('action', $(this).attr('href'));
                    $('#{{ route_name_prefix }}-delete-modal input[name="form[id]"]').val($(this).attr('data-delete-id'));
                    $('#{{ route_name_prefix }}-delete-modal input[name="form[_token]"]').val($(this).attr('data-delete-token'));
                {%- if stringable %}
                    $('#{{ route_name_prefix }}-delete-modal .delete-entity').html($(this).attr('data-delete-desc'));
                {%- endif %}

                    $('#{{ route_name_prefix }}-delete-modal').modal('show');
                    return false;
                });
            });
        </script>

{% endif %}
    </section>
{{ '{% endblock %}' }}
