{{ "{% extends '" ~ bundle ~ "::base.html.twig' %}" }}

{{ "{% block title %}"}}{{ entity_desc.plural|title }}{{ "{% endblock %}" }}

{{ "{% block body %}" }}
    <div class="container">
        <div class="page-header">
            <h1>{{ entity_desc.plural|title }}</h1>
        </div>

        <section id="{{ prefix }}-list" class="entity-list">
            <table id="{{ prefix }}-records" class="table table-bordered table-striped records-list">
                <thead>
                    <tr>
{% for field, metadata in fields %}
                        <th class="{{ metadata.type }}-type">{{ field|replace({'_': ' '})|capitalize }}</th>
{% endfor %}
{% if 'index:delete' in actions %}
                        <th class="row-actions"></th>
{% endif %}
                    </tr>
                </thead>
                <tbody>
                {{ '{% for entity in entities %}' }}
                    <tr class="{{ "{{ cycle(['odd', 'even'], loop.index) }}" }}" {% if 'show' in actions %}data-href="{{ "{{ path('"~ route_name_prefix ~".show', { 'id': entity."~ id ~" }) }}" }}"{% elseif 'edit' in actions %}data-href="{{ "{{ path('"~ route_name_prefix ~".edit', { 'id': entity."~ id ~" }) }}" }}"{% endif %}>
{% for field, metadata in fields %}
                        <td class="{{ metadata.type }}-type">
{%   if metadata.type == 'date' %}
                            {{ '{% if entity.'~ field|replace({'_': ''}) ~' %}{{ entity.'~ field|replace({'_': ''}) ~'|date(\'d-m-Y\') }}{% endif %}' }}
{%   elseif metadata.type == 'datetime' %}
                            {{ '{% if entity.'~ field|replace({'_': ''}) ~' %}{{ entity.'~ field|replace({'_': ''}) ~'|date(\'d-m-Y H:i:s\') }}{% endif %}' }}
{%   elseif metadata.type == 'boolean' %}
                            {{ '{% if entity.'~ field|replace({'_': ''}) ~' %}yes{% else %}no{% endif %}' }}
{%   elseif metadata.type == 'percentage' %}
                            {{ '{% if entity.'~ field|replace({'_': ''}) ~' is not empty %}{{ entity.'~ field|replace({'_': ''}) ~' * 100 }} %{% endif %}' }}
{%   else %}
                            {{ '{{ entity.'~ field|replace({'_': ''}) ~' }}' }}
{%   endif %}
                        </td>
{% endfor %}
{% if 'index:delete' in actions %}
                        <td class="row-actions nohref" style="white-space: nowrap">
                            <a class="act act-danger" href="{{ "{{ path('"~ route_name_prefix ~".delete', { 'id': entity."~ id ~" }) }}" }}" title="{{ 'Delete %s%'|trans({'%s%': entity_desc.singular ~ (stringable ? " '{{ entity }}'" : '')})|capitalize }}" data-delete="{{ prefix }}" data-delete-id="{{ '{{ entity.id }}' }}" {{ '{% if delete_tokens is defined %}' }}data-delete-token="{{ '{{ attribute(delete_tokens, entity.id) }}' }}"{{ '{% endif %}' }} {% if stringable %}data-delete-desc="{{ '{{ entity }}' }}"{% endif %}><i class="iconic-x"></i></a>
                        </td>
{% endif %}
                    </tr>
                {{ '{% endfor %}' }}
                </tbody>
            </table>
{% if pagination %}
                
            <div class="pagination">
                <ul>
                    {{ '{% if page == 1 %}' }}<li class="prev disabled"><a href="#">{{ '{% else %}' }}<li class="prev"><a href="{{ "{{ path('"~ route_name_prefix ~"', { 'page': page-1 }) }}" }}">{{ '{% endif %}' }}&larr; {{ 'Previous'|trans }}</a></li>
                    {{ '{% for i in 1..pagecount %}' }}
                        <li class="{{ '{% if i == page %}' }}active{{ '{% endif %}' }}"><a href="{{ "{{ path('"~ route_name_prefix ~"', { 'page': i }) }}" }}">{{ '{{ i }}' }}</a></li>
                    {{ '{% endfor %}' }}
                    {{ '{% if page == pagecount %}' }}<li class="next disabled"><a href="#">{{ '{% else %}' }}<li class="next"><a href="{{ "{{ path('"~ route_name_prefix ~"', { 'page': page+1 }) }}" }}">{{ '{% endif %}' }}{{ 'Next'|trans }} &rarr;</a></li>
                </ul>
            </div>
{% endif %}
{% if 'new' in actions %}
                
            <div class="table-actions">
                <a href="{{ "{{ path('"~ route_name_prefix ~".new') }}" }}" class="btn btn-success pull-right"><i class="iconic-plus"></i> {{ 'Add %s%'|trans({'%s%': entity_desc.singular})|capitalize }}</a>
            </div>
{% endif %}
        </section>
    </div>
{{ '{% endblock %}' }}
{% if 'index:delete' in actions %}
    {%- include 'views/others/delete_modal.html.twig' with {'delete_js': true} %}
{% endif %}
