{{ "{% extends '" ~ bundle ~ "::base.html.twig' %}" }}
{{ "{% form_theme form 'JasnyBootstrapBundle:Form:form_layout.html.twig' %}" }}

{{ "{% block title %}" }}{{ 'Edit %s%'|trans({ '%s%': entity_desc.singular})|capitalize }}{{ "{% endblock %}" }}

{{ "{% block javascripts %}" }}
    {{ '{{ base.prevent_unload_js("#' ~ prefix ~ '-form", "' ~ "This new %s% has not yet been saved. If you navigate away, it will be lost."|trans({'%s%': entity_desc.singular}) ~ '") }}' }}
{{ "{% endblock %}" }}

{{ "{% block body %}" }}    
{% if 'index' not in actions %}
    <div class="content tabbable tabs-left">
      {%- include 'views/others/list_tabs.html.twig' %}
  
      <div class="tab-content">
{% else %}
    <div class="content">
{% endif %}
        <div class="page-header">
            <h1>{{ 'Add %s%'|trans({'%s%': entity_desc.singular})|capitalize }}</h1>
        </div>
          
        <section id="{{ prefix }}-details" class="entity-details new-entity">
            {{ '{{ form_errors(form) }}' }}

            <form id="{{ prefix }}-form" class="form-horizontal" action="{{ "{{ path('"~ route_name_prefix ~"_create') }}" }}" method="post" {{ "{{ form_enctype(form) }}" }}>
{% if custom_form %}
                {{ "{% include '" ~ bundle ~ ":" ~ entity ~":includes/form.html.twig' %}" }}
{% else %}
                {{ "{{ form_widget(form) }}" }}
{% endif %}

                <div class="form-actions">
                    <button class="btn btn-primary" type="submit">{{ 'Save'|trans }}</button>
                    <a href="{{ "{{ path('"~ route_name_prefix ~"') }}" }}" class="btn">{{ 'Cancel'|trans }}</a>
                </div>
            </form>
        </section>
{% if 'index' not in actions %}
      </div>
    </div>
{% endif %}
{{ "{% endblock %}" }}