{{ "{% extends '" ~ bundle ~ "::base.html.twig' %}" }}
{{ "{% form_theme form 'JasnyBootstrapBundle:Form:uneditable_form_layout.html.twig' %}" }}

{{ "{% block title %}" }}{{ entity_desc.singular|capitalize }}{% if stringable %} - {{ '{{ entity }}' }}{% endif %}{{ "{% endblock %}" }}

{{ "{% block body %}" }}
{% if 'index' not in actions %}
    <div class="container tabbable tabs-left">
      {%- include 'views/others/list_tabs.html.twig' %}
      
      <div class="tab-content">
{% else %}
    <div class="container">
{% endif %}
        <div class="page-header">
{% if 'index' in actions %}
            <div class="header-actions pull-right"><a href="{{ "{{ path('"~ route_name_prefix ~"') }}" }}">&larr; {{ 'Back'|trans }}</a></div>
{% endif %}
{% if stringable %}
            <h1>{{ '{{ entity }}' }} <small>{{ entity_desc.singular|capitalize }}</small></h1>
{% else %}
            <h1>{{ entity_desc.singular|capitalize }}</h1>
{% endif %}
        </div>

        <section id="{{ prefix }}-details" class="entity-details show-entity">
            <div class="form-horizontal uneditable-form">
{% if custom_form %}
                {{ "{% include '" ~ bundle ~ ":" ~ entity ~":includes/form.html.twig' %}" }}
{% else %}
                {{ "{{ form_widget(form) }}" }}
{% endif %}

{% if ('edit' in actions) or ('delete' in actions) %}
                <div class="form-actions">
{%   if 'edit' in actions %}
                    <a href="{{ "{{ path('"~ route_name_prefix ~".edit', { 'id': entity."~ id ~" }) }}" }}" class="btn"><i class="iconic-pen"></i> {{ 'Edit %s%'|trans({'%s%': entity_desc.singular})|capitalize }}</a>
{%   endif %}
{%   if 'delete' in actions %}
                    <a href="#" class="act act-danger pull-right" data-toggle="modal" data-target="#{{ prefix }}-delete-modal"><i class="iconic-x"></i> {{ 'Delete %s%'|trans({'%s%': entity_desc.singular})|capitalize }}</a>
{%   endif %}
                </div>
            </div>

{% endif %}
        </section>
{% if 'index' not in actions %}
      </div>
{% endif %}
    </div>
{{ "{% endblock %}" }}

{%- if 'delete' in actions %}
    {%- include 'views/others/delete_modal.html.twig' %}
{% endif %}
