{% if not delete_js %}
    {%- set _d_action = "{{ path('"~ route_name_prefix ~"_delete', { 'id': entity.id }) }}" %}
    {%- set _d_entity = "{{ entity }}" %}
{% endif %}

        <div id="{{ route_name_prefix }}-delete-modal" class="modal hide fade">
            <form method="post" action="{{ _d_action }}">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3>{{ 'Caution!'|trans }}</h3>
                </div>
                <div class="modal-body">
{% if stringable %}
                    <p>{% trans with {'%s%': entity_desc.singular, '%entity%': '<strong class="delete-entity">' ~  _d_entity ~ '</strong>'} %}Are you sure you want to delete %s% '%entity%'?{% endtrans %}</p>
{% else %}
                    <p>{% trans with {'%s%': entity_desc.singular} %}Are you sure you want to delete this %s%?{% endtrans %}</p>
{% endif %}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn danger">{{ 'Delete'|trans }}</button>
                    <a href="#" class="btn" data-dismiss="modal">{{ 'Cancel'|trans }}</a>
                </div>
{% if delete_js %}
                    <input type="hidden" name="form[_token]" value="" />
                    <input type="hidden" name="form[id]" value="" />
{% else %}
                    {{ '{{ form_rest(delete_form) }}' }}
{% endif %}
           </form>
        </div>
