{{ "{% extends '" ~ bundle ~ "::base.html.twig' %}" }}

{{ "{% block title %}" }}{% if stringable %}{{ '{{ entity }}' }} - {% endif %}{{ 'Edit %s%'|trans({ '%s%': entity_desc.singular})|capitalize }}{{ "{% endblock %}" }}

{{ "{% block javascripts %}" }}
    {%- include 'views/others/form_javascript.html.twig' %}
{{ "{% endblock %}" }}

{{ "{% block header %}" }}
{% if stringable %}
    <h1>{{ '{{ entity }}' }}</h1>
{% else %}
    <h1>{{ 'Edit %s%'|trans({ '%s%': entity_desc.singular})|capitalize }}</h1>
{% endif %}
{{ "{% endblock %}" }}

{{ "{% block body %}" }}    
    <section id="{{ prefix }}-details" class="entity-details edit-entity">

        {{ '{{ form_errors(form) }}' }}

        <form id="{{ prefix }}-form" action="{{ "{{ path('"~ route_name_prefix ~"_update', { 'id': entity."~ id ~" }) }}" }}" method="post" {{ "{{ form_enctype(form) }}" }}>
{% if custom_form %}
            {{ "{% include '" ~ bundle ~ ":" ~ entity ~":includes/form.html.twig' %}" }}
{% else %}
            {{ "{{ form_widget(form) }}" }}
{% endif %}
            
            <div class="actions">
                <button type="submit">{{ 'Save'|trans }}</button>
{% if ('index' in actions) or ('show' in actions) %}
                <a class="cancel" href="{{ "{{ path('"~ route_name_prefix ~ ('show' in actions ? "_show', { 'id': entity."~ id ~" })" : "')") ~" }}" }}">{{ 'Cancel'|trans }}</a>
{% endif %}
            </div>
        </form>

{% if ('delete' in actions) and ('show' not in actions) %}
        {%- include 'views/others/delete_form.html.twig' %}
{% endif %}
    </section>
{{ "{% endblock %}" }}
