{{ "{% extends '" ~ bundle ~ "::base.html.twig' %}" }}

{%- if stringable %}
    {%- set delete_message = "Are you sure you want to delete %s% '%entity%'?"|trans({'%s%': entity_desc.singular, '%entity%': '<strong class="delete-entity">' ~  _d_entity ~ '</strong>'}) -%}
{%- else %}
    {%- set delete_message = "Are you sure you want to delete this %s%?"|trans({'%s%': entity_desc.singular, '%entity%'}) -%}
{%- endif %}

{{ "{% block title %}"}}{{ entity_desc.plural|title }}{{ "{% endblock %}" }}

{{ "{% block header %}" }}
    <h1>{{ entity_desc.plural|title }}</h1>
{{ "{% endblock %}" }}

{{ "{% block body %}" }}
    <section id="{{ prefix }}-list" class="entity-list">
        <table class="records-list">
            <thead>
                <tr>
{% for field, metadata in fields %}
                    <th class="type-{{ metadata.type }}">{{ field|replace({'_': ' '})|capitalize }}</th>
{% endfor %}
                    <th class="row-actions"></th>
                </tr>
            </thead>
            <tbody>
            {{ '{% for entity in entities %}' }}
                <tr class="{{ "{{ cycle(['odd', 'even'], loop.index) }}" }}">
{% for field, metadata in fields %}
                    <td class="{{ metadata.type }}-type">
{%   if metadata.type == 'date' %}
                        {{ '{% if entity.'~ field|replace({'_': ''}) ~' %}{{ entity.'~ field|replace({'_': ''}) ~'|localdate }}{% endif %}' }}
{%   elseif metadata.type == 'time' %}
                        {{ '{% if entity.'~ field|replace({'_': ''}) ~' %}{{ entity.'~ field|replace({'_': ''}) ~'|localtime }}{% endif %}' }}
{%   elseif metadata.type == 'datetime' %}
                        {{ '{% if entity.'~ field|replace({'_': ''}) ~' %}{{ entity.'~ field|replace({'_': ''}) ~'|localdatetime }}{% endif %}' }}
{%   elseif metadata.type == 'boolean' %}
                        {{ '{% if entity.'~ field|replace({'_': ''}) ~' %}'~ 'Yes'|trans ~'{% else %}'~ 'No'|trans ~'{% endif %}' }}
{%   elseif metadata.type == 'percentage' %}
                        {{ '{% if entity.'~ field|replace({'_': ''}) ~' is not empty %}{{ entity.'~ field|replace({'_': ''}) ~' * 100 }} %{% endif %}' }}
{%   else %}
                        {{ '{{ entity.'~ field|replace({'_': ''}) ~' }}' }}
{%   endif %}
                    </td>
{% endfor %}
                    <td class="row-actions">
                        {% if 'show' in actions %}<a class="action-show" href="{{ "{{ path('"~ route_name_prefix ~"_show', { 'id': entity.id }) }}" }}" title="{{ 'Show %s%'|trans({'%s%': entity_desc.singular ~ (stringable ? " '{{ entity }}'" : '')})|capitalize }}">{{ "Show"|trans }}</a>{% endif %}
                        {% if 'edit' in actions %}<a class="action-edit" href="{{ "{{ path('"~ route_name_prefix ~"_edit', { 'id': entity.id }) }}" }}" title="{{ 'Edit %s%'|trans({'%s%': entity_desc.singular ~ (stringable ? " '{{ entity }}'" : '')})|capitalize }}">{{ "Edit"|trans }}</a>{% endif %}
                        {% if 'list-delete' in actions %}<a class="action-delete" href="{{ "{{ path('"~ route_name_prefix ~"_delete', { 'id': entity.id, 'token': attribute(delete_tokens, entity.id) }) }}" }}" title="{{ 'Delete %s%'|trans({'%s%': entity_desc.singular ~ (stringable ? " '{{ entity }}'" : '')})|capitalize }}" onclick="return window.alert(\"{{ delete_message}}\")">{{ "Delete"|trans }}</a>{% endif %}
                    </td>
                </tr>
            {{ '{% endfor %}' }}
            </tbody>
        </table>

{% if pagination %}
        <ul class="pagination">
            {{ '{% if page == 1 %}' }}<li class="prev disabled"><a href="#">{{ '{% else %}' }}<li class="prev"><a href="{{ "{{ path('"~ route_name_prefix ~"_page', { 'page': page-1 }) }}" }}">{{ '{% endif %}' }}&larr; {{ 'Previous'|trans }}</a></li>
            {{ '{% for i in 1..pagecount %}' }}
                <li class="{{ '{% if i == page %}' }}active{{ '{% endif %}' }}"><a href="{{ "{{ path('"~ route_name_prefix ~"_page', { 'page': i }) }}" }}">{{ '{{ i }}' }}</a></li>
            {{ '{% endfor %}' }}
            {{ '{% if page == pagecount %}' }}<li class="next disabled"><a href="#">{{ '{% else %}' }}<li class="next"><a href="{{ "{{ path('"~ route_name_prefix ~"_page', { 'page': page+1 }) }}" }}">{{ '{% endif %}' }}{{ 'Next'|trans }} &rarr;</a></li>
        </ul>

{% endif %}
{% if 'new' in actions %}
        <div class="actions">
            <a href="{{ "{{ path('"~ route_name_prefix ~"_new') }}" }}">{{ 'Add %s%'|trans({'%s%': entity_desc.singular})|capitalize }}</a>
        </div>

{% endif %}
    </section>
{{ '{% endblock %}' }}
