{{ "{% extends '" ~ bundle ~ "::base.html.twig' %}" }}

{{ "{% block title %}" }}{{ entity_desc.singular|capitalize }}{% if stringable %} - {{ '{{ entity }}' }}{% endif %}{{ "{% endblock %}" }}

{{ "{% block header %}" }}
{% if stringable %}
    <h1>{{ '{{ entity }}' }}</h1>
{% endif %}
{{ "{% endblock %}" }}

{{ "{% block body %}" }}
    <section id="{{ prefix }}-details" class="entity-details">

        <table>
            <tbody>
{% for field, metadata in fields %}
                <tr>
                    <th>{{ field|replace({'_': ' '})|capitalize }}</th>
{%   if metadata.type == 'date' %}
                    <td>{{ '{% if entity.'~ field|replace({'_': ''}) ~' %}{{ entity.'~ field|replace({'_': ''}) ~'|localdate }}{% endif %}' }}</td>
{%   elseif metadata.type == 'datime' %}
                    <td>{{ '{% if entity.'~ field|replace({'_': ''}) ~' %}{{ entity.'~ field|replace({'_': ''}) ~'|localtime }}{% endif %}' }}</td>
{%   elseif metadata.type == 'datetime' %}
                    <td>{{ '{% if entity.'~ field|replace({'_': ''}) ~' %}{{ entity.'~ field|replace({'_': ''}) ~'|localdatetime }}{% endif %}' }}</td>
{%   elseif metadata.type == 'boolean' %}
                    <td>{{ '{% if entity.'~ field|replace({'_': ''}) ~' %}'~ 'Yes'|trans ~'{% else %}'~ 'No'|trans ~'{% endif %}' }}</td>
{%   elseif metadata.type == 'percentage' %}
                    <td>{{ '{% if entity.'~ field|replace({'_': ''}) ~' is not empty %}{{ entity.'~ field|replace({'_': ''}) ~' * 100 }} %{% endif %}' }}</td>
{%   else %}
                    <td>{{ '{{ entity.'~ field|replace({'_': ''}) ~' }}' }}</td>
{%   endif %}
                </tr>
{% endfor %}
            </tbody>
        </table>

{% if ('edit' in actions %}
        <a href="{{ "{{ path('"~ route_name_prefix ~"_edit', { 'id': entity.id }) }}" }}">{{ 'Edit %s%'|trans({'%s%': entity_desc.singular}) }}
{% endif %}
        
{% if ('delete' in actions) %}
        {%- include 'views/others/delete_form.html.twig' %}
{% endif %}
    </section>
{{ "{% endblock %}" }}