{{ "{% extends '" ~ bundle ~ "::base.html.twig' %}" }}

{{ "{% block title %}" }}{{ entity_desc.singular|capitalize }}{% if stringable %} - {{ '{{ entity }}' }}{% endif %}{{ "{% endblock %}" }}

{{ "{% block header %}" }}
{% if stringable %}
    <h1>{{ '{{ entity }}' }}</h1>
{% endif %}
{{ "{% endblock %}" }}

{{ "{% block body %}" }}
    <section id="{{ route_name_prefix }}-details" class="entity-details">

        <table>
            <tbody>
{% for field, metadata in fields %}
                <tr>
                    <th>{{ field|replace({'_': ' '})|capitalize }}</th>
{%   if metadata.type == 'date' %}
                    <td>{{ '{% if entity.'~ field|replace({'_': ''}) ~' %}{{ entity.'~ field|replace({'_': ''}) ~'|date(\'d-m-Y\') }}{% endif %}' }}</td>
{%   elseif metadata.type == 'datetime' %}
                    <td>{{ '{% if entity.'~ field|replace({'_': ''}) ~' %}{{ entity.'~ field|replace({'_': ''}) ~'|date(\'d-m-Y H:i:s\') }}{% endif %}' }}</td>
{%   elseif metadata.type == 'boolean' %}
                    <td>{{ '{% if entity.'~ field|replace({'_': ''}) ~' %}yes{% else %}no{% endif %}' }}</td>
{%   elseif metadata.type == 'percentage' %}
                    <td>{{ '{% if entity.'~ field|replace({'_': ''}) ~' is not empty %}{{ entity.'~ field|replace({'_': ''}) ~' * 100 }} %{% endif %}' }}</td>
{%   else %}
                    <td>{{ '{{ entity.'~ field|replace({'_': ''}) ~' }}' }}</td>
{%   endif %}
                </tr>
{% endfor %}
            </tbody>
        </table>

{% if ('delete' in actions) and ('show' not in actions) %}
        {%- set delete_js, delete_js = false, false %}
        {%- include 'views/others/delete_modal.html.twig' %}

        <a href="#" onclick="$('{{ route_name_prefix }}-delete-modal'.show())">{{ 'Delete %s'|trans({'%s': entity_desc.singular})|capitalize }}</a>

{% endif %}
    </section>
{{ "{% endblock %}" }}