{% raw %}{% macro prevent_unload_js(element, message) %}
    <script type="text/javascript">
        var preventUnload = false;
        window.onbeforeunload = function() { if (preventUnload) return "{{ message }}"; }
        
        $(function () {
            $("{{ element }} :input").change( function() { preventUnload = true; } );
            if (typeof(CKEDITOR) != 'undefined') {
                // Requires CKEditor onchange plugin http://alfonsoml.blogspot.com/2011/03/onchange-event-for-ckeditor.html
                for (var i in CKEDITOR.instances) CKEDITOR.instances[i].on('change', function() { preventUnload = true; } );
            }
            
            $("form").submit( function() { window.onbeforeunload = null; } );
            $("form .cancel").click( function() { window.onbeforeunload = null; } );
        });
    </script>
{% endmacro %}{% endraw %}

{{ '{% macro delete_modal(prefix, action, message, entity, form) %}' }}
    <div id="{{ '{{ prefix }}' }}-delete-modal" class="modal hide">
        <form method="post" action="{{ '{{ action }}' }}">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3>{{ 'Caution!'|trans }}</h3>
            </div>
            <div class="modal-body">
                {% raw %}<p>{{ message|escape|replace({'%entity%': '<strong class="delete-entity">' ~ entity ~ '</strong>'})|raw }}</p>{% endraw %}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger">{{ 'Delete'|trans }}</button>
                <a href="#" class="btn" data-dismiss="modal">{{ 'Cancel'|trans }}</a>
            </div>

            {% raw %}{% if form %}
                {{ form_rest(form) }}
            {% else %}
                <input type="hidden" name="form[_token]" value="" />
                <input type="hidden" name="form[id]" value="" />
            {% endif %}{% endraw %}
       </form>
    </div>
{{ '{% endmacro %}' }}

{% raw %}{% macro delete_modal_js(prefix) %}
    <script type="text/javascript">
        $(function () {
            $('*[data-delete={{ prefix }}]').click(function() {
                $('#{{ prefix }}-delete-modal form').attr('action', $(this).attr('href'));
                $('#{{ prefix }}-delete-modal input[name="form[id]"]').val($(this).attr('data-delete-id'));
                $('#{{ prefix }}-delete-modal input[name="form[_token]"]').val($(this).attr('data-delete-token'));
                $('#{{ prefix }}-delete-modal .delete-entity').html($(this).attr('data-delete-desc'));

                $('#{{ prefix }}-delete-modal').modal('show');
                return false;
            });
        });
    </script>
{% endmacro %}{% endraw %}
