      <ul class="nav nav-tabs">
        {{ '{% for li in list %}' }}
            {{ "{% if li.id == entity.id %} <li class=\"active\"><a href=\"#\">{% else %}<li><a href=\"{{ path('" ~ route_name_prefix ~ ('show' in actions ? ".show" : ".edit") ~ "', { 'id': li."~ id ~" }) }}\">{% endif %}{{ li }}</a></li>" }}
        {{ '{% endfor %}' }}
{% if 'new' in actions %}
        {{ "{% if app.request.attributes.get('_route') == '" ~ route_name_prefix ~ ".new' %}<li class=\"success active\"><a href=\"#\">{% else %}<li class=\"success\"><a href=\"{{ path('" ~ route_name_prefix ~ ".new') }}\">{% endif %}" }}<i class="iconic-plus"></i></a></li>
{% endif %}
      </ul>
