{# Widgets #}
{% block form_widget %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
        {{ block('field_rows') }}
        {{ form_rest(form) }}
    </div>
{% endspaceless %}
{% endblock form_widget %}

{% block collection_widget %}
{% spaceless %}
    {% if prototype is defined %}
        {% set attr = attr|merge({'data-prototype': form_row(prototype) }) %}
    {% endif %}
    {{ block('form_widget') }}
{% endspaceless %}
{% endblock collection_widget %}

{% block textarea_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class' : attr.class|default('') ~ ' uneditable-textarea' }) %}
    <div {{ block('widget_attributes') }}>{{ value }}</div>
{% endspaceless %}
{% endblock textarea_widget %}

{% block editor_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' uneditable-textarea ' ~ class }) %}
    <div {{ block('widget_attributes') }}>{{ linkify ? value|paragraph|linkify(linkify.protocols, linkify.attributes, linkify.mode) : value|paragraph }}</div>
{% endspaceless %}
{% endblock editor_widget %}

{% block ckeditor_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' uneditable-textarea ' ~ (class == 'ckeditor' ? 'editor editor-ckeditor' : class)}) %}
    <div {{ block('widget_attributes') }}>{{ linkify ? value|raw|linkify : value|raw }}</div>
{% endspaceless %}
{% endblock ckeditor_widget %}

{% block widget_choice_single_option %}
{% spaceless %}
    {% for choice, label in options %}
        {% if _form_is_choice_group(label) %}
            {% for nestedChoice, nestedLabel in label %}
                {% if _form_is_choice_selected(form, nestedChoice) %}{{ nestedLabel|trans }}{% endif %}
            {% endfor %}
        {% else %}
            {% if _form_is_choice_selected(form, choice) %}{{ label|trans }}{% endif %}
        {% endif %}
    {% endfor %}
{% endspaceless %}
{% endblock widget_choice_single_option %}

{% block widget_choice_multiple_options %}
{% spaceless %}
    {% set groupDisplayed, groupDisplayed=false, false %}
    {% for choice, label in options %}
        {% if _form_is_choice_group(label) %}
            {% for nestedChoice, nestedLabel in label %}
                {% if _form_is_choice_selected(form, nestedChoice) %}
                    {% if not groupDisplayed %}
                        <li>{{ choice|trans }}</li>
                        <ul>
                        {% set groupDisplayed = true %}
                    {% endif %}
                    <li>{{ nestedLabel|trans }}</li>
                {% endif %}
            {% endfor %}
            {% if groupDisplayed %}
                </ul>
                {% set groupDisplayed = false %}
            {% endif %}
        {% else %}
            {% if _form_is_choice_selected(form, choice) %}<li>{{ label|trans }}</li>{% endif %}
        {% endif %}
    {% endfor %}
{% endspaceless %}
{% endblock widget_choice_multiple_options %}

{% block choice_widget %}
{% spaceless %}
    {% if expanded %}
        <div {{ block('widget_container_attributes') }}>
        {% for child in form %}
            {{ form_widget(child) }}
            {{ form_label(child) }}
        {% endfor %}
        </div>
    {% elseif not multiple %}
        {% set options = preferred_choices|merge(choices) %}
        {% set attr = attr|merge({'class': attr.class|default('') ~ ' uneditable-input'}) %}
        <span {{ block('widget_attributes') }}>{{ block('widget_choice_single_option') }}</span>
    {% else %}            
    <ul>
        {% if preferred_choices|length > 0 %}
            {% set options = preferred_choices %}
            {{ block('widget_choice_multiple_options') }}
        {% endif %}
        {% set options = choices %}
        {{ block('widget_choice_multiple_options') }}
    </ul>
    {% endif %}
{% endspaceless %}
{% endblock choice_widget %}

{% block checkbox_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class' : attr.class|default('') ~ ' uneditable-mark' ~ ( checked ? ' checked' : ' unchecked') }) %}
    <span {{ block('widget_attributes') }}><span class="checkbox">{% if checked %}&radic;{% else %}&ndash;{% endif %}</span> {{ label|trans }}</span>
{% endspaceless %}
{% endblock checkbox_widget %}

{% block radio_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class' : attr.class|default('') ~ ' uneditable-mark' ~ ( checked ? ' checked' : ' unchecked') }) %}
    <span {{ block('widget_attributes') }}><span class="radio">{% if checked %}&lowast;{% else %}&ndash;{% endif %}</span> {{ label|trans }}</span>
{% endspaceless %}
{% endblock radio_widget %}

{% block datetime_widget %}
{% spaceless %}
    {% if widget != 'single_text' %}
        {% set value = date_pattern|replace({'{{ year }}': form.year, '{{ month }}': form.month, '{{ day }}': form.day }) ~ ' ' ~ form.hour ~ ':' ~ form.minute ~ (with_seconds ? ':' ~ form.seconds : '') %}
    {% endif %}
    {{ block('field_widget') }}
{% endspaceless %}
{% endblock datetime_widget %}

{% block date_widget %}
{% spaceless %}
    {% if widget != 'single_text' %}
        {% set value = date_pattern|replace({'{{ year }}': form.year, '{{ month }}': form.month, '{{ day }}': form.day }) %}
    {% endif %}
    {{ block('field_widget') }}
{% endspaceless %}
{% endblock date_widget %}

{% block time_widget %}
{% spaceless %}
    {% if widget != 'single_text' %}
        {% set value = form.hour ~ ':' ~ form.minute ~ (with_seconds ? ':' ~ form.seconds : '') %}
    {% endif %}
    {{ block('field_widget') }}
{% endspaceless %}
{% endblock time_widget %}

{% block number_widget %}
{% spaceless %}
    {{ block('field_widget') }}
{% endspaceless %}
{% endblock number_widget %}

{% block integer_widget %}
{% spaceless %}
    {{ block('field_widget') }}
{% endspaceless %}
{% endblock integer_widget %}

{% block money_widget %}
{% spaceless %}
    <label class="input-prepend"><span class="add-on">{{ money_pattern|replace({ '{{ widget }}': '</span> ' ~ block('field_widget') })|raw }}</label>
{% endspaceless %}
{% endblock money_widget %}

{% block url_widget %}
{% spaceless %}
    {{ block('field_widget') }}
{% endspaceless %}
{% endblock url_widget %}

{% block search_widget %}
{% spaceless %}
    {{ block('field_widget') }}
{% endspaceless %}
{% endblock search_widget %}

{% block percent_widget %}
{% spaceless %}
    {% set type = type|default('text') %}
    <label class="input-append">{{ block('field_widget') }} <span class="add-on">%</span></label>
{% endspaceless %}
{% endblock percent_widget %}

{% block field_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' uneditable-input'}) %}
    <span {{ block('widget_attributes') }}>{{ value }}</span>
{% endspaceless %}
{% endblock field_widget %}

{% block password_widget %}
{% spaceless %}
    {% set type = type|default('password') %}
    {{ block('field_widget') }}
{% endspaceless %}
{% endblock password_widget %}

{% block hidden_widget %}
    {% set type = type|default('hidden') %}
    <input type="{{ type }}" {{ block('widget_attributes') }} value="{{ value }}" />
{% endblock hidden_widget %}

{% block email_widget %}
{% spaceless %}
    {% set type = type|default('email') %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' uneditable-input'}) %}
    <label class="input-prepend"><span class="add-on"><i class="iconic-mail"></i></span> <span {{ block('widget_attributes') }}>{{ value|linkify('mail') }}</span></label>
{% endspaceless %}
{% endblock email_widget %}

{% block phonenumber_widget %}
{% spaceless %}
    <label class="input-prepend"><span class="add-on"><i class="iconic-iphone"></i></span> {{ block('field_widget') }}</label>
{% endspaceless %}
{% endblock phonenumber_widget %}

{% block image_widget %}
{% spaceless %}
    {% if preview %}
        <img src="{{ preview }}"{% if preview_size %} style="max-width: {{ preview_size.width }}px; max-height: {{ preview_size.height }}px;"{% endif %}/>
    {% elseif default_preview %}
        <img src="{{ default_preview }}" style="border: 1px solid #DDDDDD;" />
    {% endif %}
{% endspaceless %}
{% endblock image_widget %}

{# Labels #}

{% block generic_label %}
{% spaceless %}
    {% if label != '-' %}
        <label for="{{attr.for}}">{{ label|trans }}</label>
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block field_label %}
{% spaceless %}
    {% set attr = attr|merge({'for': id}) %}
    {{ block('generic_label') }}
{% endspaceless %}
{% endblock field_label %}

{% block form_label %}
{% spaceless %}
    {{ block('generic_label') }}
{% endspaceless %}
{% endblock form_label %}

{# Rows #}

{% block repeated_row %}
{% spaceless %}
    {{ block('field_rows') }}
{% endspaceless %}
{% endblock repeated_row %}

{% block field_row %}
{% spaceless %}
    <div class="control-group {% if form.get('errors') is not empty %}error{% endif %}">
        {% if checked is not defined %}{{ form_label(form, label|default(null)) }}{% endif %}
        <div class="controls">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    </div>
{% endspaceless %}
{% endblock field_row %}

{% block hidden_row %}
    {{ form_widget(form) }}
{% endblock hidden_row %}

{# Misc #}

{% block field_enctype %}
{% spaceless %}
    {% if multipart %}enctype="multipart/form-data"{% endif %}
{% endspaceless %}
{% endblock field_enctype %}

{% block field_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <span class="help-inline">
        {% for error in errors %}
            {{ error.messageTemplate|trans(error.messageParameters, 'validators') }}.
        {% endfor %}
    </span>
    {% endif %}
{% endspaceless %}
{% endblock field_errors %}

{% block field_rest %}
{% spaceless %}
    {% for child in form %}
        {% if not child.rendered %}
            {{ form_row(child) }}
        {% endif %}
    {% endfor %}
{% endspaceless %}
{% endblock field_rest %}

{# Support #}

{% block field_rows %}
{% spaceless %}
    {{ form_errors(form) }}
    {% for child in form %}
        {{ form_row(child) }}
    {% endfor %}
{% endspaceless %}
{% endblock field_rows %}

{% block widget_attributes %}
{% spaceless %}
    id="{{ id }}"{% if read_only %} disabled="disabled"{% endif %}
    {% for attrname,attrvalue in attr %}{{attrname}}="{{attrvalue}}" {% endfor %}
{% endspaceless %}
{% endblock widget_attributes %}

{% block widget_container_attributes %}
{% spaceless %}
    id="{{ id }}"
    {% for attrname,attrvalue in attr %}{{attrname}}="{{attrvalue}}" {% endfor %}
{% endspaceless %}
{% endblock widget_container_attributes %}
