<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{{ '{% block title %}' ~ 'Welcome'|trans ~ '{% endblock %} | ' ~ sitename|default('My Website'|trans) }}</title>
        
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        <link rel="stylesheet" href="{{ "{{ asset('bundles/jasnyvanilla/normalize.css') }}" }}">
        
        {{ "{% block stylesheets %}" }}
        {{ "{% endblock %}" }}
    </head>
    <body>
        <header>
            {{ "{% block header %}" }}
            {{ "{% endblock %}" }}
        </header>

        <nav>
            <ul>
                {{ "{% include '" ~ bundle ~ "::nav.html.twig' %}" }}
            </ul>
        </nav>
        
        {{ "{% for type in ['error', 'notice', 'success'] %}" }}
            {{ "{% if app.session.hasFlash(type) %}" }}
                <div class="flash-message {{ '{{ type }}' }}">
                    <p>{{ "{{ app.session.flash(type) }}" }}</p>
                </div>
            {{ "{% endif %}" }}
        {{ "{% endfor %}" }}
        
        <div>
            {{ "{% block body %}" }}
            {{ "{% endblock %}" }}
        </div>

        <footer>
            <p>&copy; {{ "now"|date("Y") }} {{ sitename|default('My Website'|trans) }}</p>
        </footer>
        
        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" type="text/javascript"></script>
        <script src="{{ "{{ asset('bundles/jasnyvanilla/jquery.plugins.min.js') }}" }}" type="text/javascript"></script>
        <script type="text/javascript">
            setTimeout(function(){ $(".flash-message").fadeOut() }, 5000);
        </script>
        
        {{ "{% block javascripts %}" }}
        {{ "{% endblock %}" }}
    </body>
</html>
